@page "/"


<PageTitle>Index</PageTitle>

<h1>Serverless Websites con Blazor e Azure Functions</h1>
<h3 class="text-muted">demo</h3>
<hr />

<p>
    Technologies:
    <ul>
        <li>Blazor Webassembly</li>
        <li>Azure Static Web App</li>
        <li>Azure Active Directory B2C</li>
        <li>Data API Builder</li>
        <li>Azure Functions</li>
    </ul>
</p>

